html body{
	background-color: #959697;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'simhei';
	letter-spacing: 0.5px;
}
#main{
	margin: 5% 0 0;
	height: 430px;
	background-color: #E5E5E5;
	border-radius: 15px 15px 0 0;
}
#topBar{
	width: 100%;
	height: 30px;
	border-radius: 15px 15px 0 0;
	background-color: #70328F;
	display: flex;
	align-items: center;
}
.topBarIcon{
	margin: 0 0 0 12px;
	width: 18px;
	height: 18px;
}
.topBarTitle{
	margin: 0 0 0 11px;
	color: white;
}
#topBarOptionsDiv{
	/*margin-top: 2px;*/
	position: absolute;
	right: 10px;
}
.topBarOptions{
	width: 10px;
	height: 10px;
	cursor: pointer;
}
/*#############options##############*/
#msgOptionsDiv{
	color: #575757;
	display: flex;
	align-items: center;
}
#msgOptionsDiv{
	display: flex;
	font-size: 15px;
	/*height: 70px;*/
}
#msgOptions{
	display: flex;
	/*height: 40px;*/
	/*margin: 15px 0 0 7px;*/
}
.options{
	margin: 0 0 0 15px;
	padding: 8px;
	background-color: #E5E7E9;
}
#searchBarDiv{
	position: absolute;
	display: flex;
	align-items: center;
	/*height: 40px;*/
	background-color: white;
	/*border: 1px #959697 solid;*/
	/*margin: 2px 0 0 0;*/
	right: 7%;
}
#searchBar{
	width: 120px;
	/*height: 100%;*/
	/*display: flex;*/
	/*align-items: center;*/
}
#magnifier{
	margin: 5px 0 2px 5px;
	height: 17px;
}
#searchBtn{
	color: white;
	font-size: 10px;
	width: 40px;
	padding: 5px 0 5px 8px;
	background-color: #959697;
}
/*###########table##############*/
#friendmsg{
	background-color: white;
	margin: 0 5px 0;
	padding: 8px 0 8px 0;
	font-size: 15px;
}
.tableHead{
	display: flex;
	padding-left: 15px;
	align-items: center;
}
.tableFriend{
	width: 25%;
}
.bigSymbol{
	font-size: 20px;
}
.tableTitle{
	width: 40%;
}
.tableDate{
	width: 30%;
}
.blueBg{
	background-color: #4E4F97;
	color: white;
}
/*############previous messages###############*/
#prevmsgDiv{
	background-color: white;
	margin: 10px 5px 0;
	/*height: 300px;*/
	line-height: 19px;
}
.prevmsg{
	padding: 5px 0 5px 19px;
	opacity: 0;
}
#friendYah{
	background-color: #E5E7E9;
	padding: 5px 0 15px 19px;
}
.yahName{
	opacity: 0;
}
.showTxt{
	opacity: 1;
}
.greyDate{
	color: #787D7B;
	font-size: 10px;
}
.blueLink{
	color: blue;
	cursor: pointer;
}