html body{
	background-color: #959697;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'simhei';
	letter-spacing: 0.5px;
}
#main{
	margin: 3% 36% 15% 0;
	height: 640px;
	background-color: #E5E5E5;
	border-radius: 15px 15px 0 0;
}
#topBar{
	width: 100%;
	height: 30px;
	border-radius: 15px 15px 0 0;
	background-color: #70328F;
	display: flex;
	align-items: center;
}
.topBarIcon{
	margin: 0 0 0% 12px;
	width: 18px;
	height: 18px;
}
.topBarTitle{
	margin: 0 0 0 11px;
	color: white;
}
#topBarOptionsDiv{
	/*margin-top: 2px;*/
	position: absolute;
	right: 38%;
}
.topBarOptions{
	width: 10px;
	/*height: 10px;*/
	cursor: pointer;
}
#login{
	margin-top: 108%; 
}
#loginInputDiv{
	margin-left: 22%;
}
.loginInput{
	margin: 3% 22% 3% 0;
}
#loginCheckbox{
	margin: 0 0 0 55.8px;
}
.checkbox{
	margin: 11px 4px 0 0;
}
.labelTxt{
	margin: 0 0 0 3px;
}
input[type="text"]:focus{
	outline: 0;
}
input[type="password"]:focus{
	outline: 0;
}
#loginBtn{
	margin: 6% 34% 0 34%;
	padding: 1%;
	background-color: #70328F;
	display: flex;
	justify-content: center;
	border-radius: 3px;
}
#loginBtn:hover{
	cursor: pointer;
	opacity: 0.7;
}
#loginBtnTxt a{
	text-decoration: none;
	color: white;
}