html body{
	background-color: #E5E7E9;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Hiragino Sans GB';
}
#main{
	margin: 5% 0 0;
	height: 250px;
	background-color: #FCFAF2;
	border-radius: 15px 15px 0 0;
}
#topBar{
	width: 100%;
	height: 30px;
	border-radius: 15px 15px 0 0;
	background-color: #70328F;
	display: flex;
	align-items: center;
}
.topBarIcon{
	margin: 0 0 0 12px;
	width: 18px;
	height: 18px;
}
.topBarTitle{
	margin: 0 0 0 11px;
	color: white;
}
#topBarOptionsDiv{
	margin-top: 2px;
	position: absolute;
	right: 10px;
}
.topBarOptions{
	width: 15px;
	height: 15px;
	cursor: pointer;
}
/*###########table##############*/
#friendmsg{
	background-color: white;
	margin: 0 5px 0;
	padding: 8px 0 0 5px;
}
#tableHead{
	background-color: #E5E7E9;
}
.tableHead{
	display: flex;
	padding-left: 15px;
}
.tableFriend{
	width: 15%;
}
.tableTitle{
	width: 30%;
}
.tableDate{
	width: 30%;
}
.tableReceiver{
	width: 15%;
}
.blueBg{
	background-color: #4E4F97;
	color: white;
}
/*############previous messages###############*/
#prevmsgDiv{
	background-color: white;
	margin: 10px 5px 0;
	/*border: 1px lightgrey solid;*/
	height: 100px;
}
.prevmsg{
	padding: 5px 0 5px 19px;
	opacity: 0;
}
#friendYah{
	background-color: #E5E7E9;
	padding: 5px 0 5px 19px;
}
.yahName{
	opacity: 0;
}
.showTxt{
	opacity: 1;
}
.greyDate{
	color: #787D7B;
	font-size: 10px;
}
.blueLink{
	color: blue;
	cursor: pointer;
}
/*###############bottom options################*/
#bottomOptionsDiv{
	display: flex;
	margin: 5px 5px 2px;
}
#leftOptionsDiv{
	display: flex;
}
#rightOptionsDiv{
	position: absolute;
	display: flex;
	right: 7%;
}
.options{
	margin: 0 7px 0;
	padding: 8px;
	background-color: #E5E7E9;
	border-radius: 3px;
	cursor: pointer;
}
.options a{
	text-decoration: none;
	color: black;
}